# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.idea
*.log

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.DS_Store
build
cookies_buff.txt
cookies_steam.txt
config.txt
crash.log
账号信息.txt
*.xlsx
*.url
*.syso

